<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
		<base href="/">
		<link rel="stylesheet" href="assets/css/style.css" type="text/css" />
		<link href="https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap" rel="stylesheet">
		<title>Danger Dogs!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
</head>

<body>
	{{{ body }}}
</body>

</html>
